<template name="register">
	<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
    <form class="register-form">
        <div class="form-group">
          <label for="registerFirstName">First Name</label>
          <input id="registerFirstName" type="text" class="form-control required">
          
        </div>

        <div class="form-group">
          <label for="registerLastName">Last Name</label>
          <input id="registerLastName" type="text" class="form-control required">
        </div>
      
        <div class="form-group">
        		<label for="registerUserName">Username</label>
            <input id="registerUserName" type="text" class="form-control required">
        </div>
        
        <div class="form-group">
            <label for="registerEmail">Email</label>  
            <input id="registerEmail" type="email" class="form-control required">
        </div>

        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input id="registerPassword" type="password" class="form-control required">
        </div>

        <div class="form-group">
      		<a href="{{pathFor route= 'login'}}" class="btn btn-primary">Back</a>
      		<button type="submit" class="btn btn-success">Register</button>
      	</div>
    </form>
  </div>
  </div>

</template>